@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@layer components {
    .headerLink {
        @apply block lg:text-xl font-semibold sm:text-lg text-2xl w-full py-3 text-gray-200 transition hover:text-gray-400 focus:text-gray-400 focus:outline-none
    }

    .headerLink.active {
        @apply text-gray-400
    }
    .commentInput {
        @apply block py-2.5 px-0 w-full text-lg bg-transparent border-0 border-b-2  appearance-none text-white border-gray-600 focus:border-cyan-500 focus:outline-none focus:ring-0 
    }
    .contactInput {
        @apply block py-2 px-0 w-full text-lg bg-transparent focus:bg-transparent border-0 border-b-2  appearance-none text-gray-800 border-gray-600 focus:border-gray-700 focus:outline-none focus:ring-0
    }
    .contactLabel {
        @apply absolute text-base text-gray-600 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-gray-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 left-0
    }
    .serviceInput {
        @apply w-4 h-4 border border-gray-300 rounded bg-gray-50  focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 cursor-pointer
    }
}

@media screen and (max-width: 768px) {
    .menuNavbar[data-isopen="false"] {
        animation: closeMenu 1000ms forwards ease-in-out;
    }

    .menuNavbar[data-isopen="true"] {
        animation: openMenu 1000ms forwards ease-in-out;
    }
}

@keyframes closeMenu {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes openMenu {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes tick {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.green {
    @apply bg-slate-500 text-slate-700
}

.hoverTag:hover>.dragButton,
.dragButton[data-drag="true"] {
    right: -1.5rem;
}

.skillTextShadow {
    color: transparent;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.normalTextShadow {
    text-shadow: 3px 3px 3px #000;
}

.projectDivShadow {
    box-shadow: 3px 3px 1px 1px #000;
}

.gridRepeatProject {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-items: center;
}

@media (min-width:330px) {
    .gridRepeatProject {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media (min-width:640px) {
    .gridRepeatProject {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}

@media (min-width:1280px) {
    .gridRepeatProject {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
}